*{
    padding: 0px;
    margin: 0px;
}
#logo{
    background-color: rgba(91, 167, 218, 0.5);
    color: rgb(247, 24, 98);

}
#img{
    margin: 5px;
    padding: 10px;
    padding-right: 20px;
}
#freshcart{
    position: absolute;
    margin-left: 150px;
    top: 65px;

}
body{
    background-image: url(img/img10.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.list{
    background-color: rgba(72, 143, 190, 0.267);
    width: 180px;
    height: 120px;
    padding: 50px;
    color: black;
    margin: 15px;

}
#search{
    height: 40px;
    width: 28rem;
    background-color: rgba(212, 212, 212, 0.295);
    text-align: center;
    margin-top: 40px;
}
#shopbtn{
    padding: 10px;
    margin: 10px;
    margin-bottom: 60px;
    width: 170px;
    background-color: rgba(175, 99, 134, 0.603);
    color: white;
}

#fresh{
    position: absolute;
    margin-left: 790px;
    margin-top: 170px;
    color: rgb(247, 24, 98);

}
